input {
    height: 35px;
    padding-bottom: 20px;

    color: var(--text-black);
    font-size: 20px;
    text-decoration: none;

    outline: none;
    border: none;
    border-bottom: 1px solid var(--border-black);
    background-color: white;
}

input::placeholder {
    color: rgb(217, 217, 217);
}