/* Секция с информацией */
.home-services {
    width: min(1192px, 100%); /* 1140px + 26px + 26px */
    padding: 0 26px; /* Отступ от краев экрана */

    margin-top: clamp(80px, 12vw, 160px);
}

.home-services h2 {
    font-size: clamp(20px, 2.5vw, var(--h2));
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--text-black);
}

.home-services table {
    border-collapse: collapse;

    margin-top: 20px; /* 40px - 20px */
}

.home-services th,
.home-services td {
    padding: 20px 0;
    border-bottom: 1px solid var(--border-black);
    text-align: start;
}

.home-services th {
    font-size: clamp(16px, 4vw, 20px);
    font-weight: 500;
    letter-spacing: 0.08em;
}

.home-services td {
    line-height: 19px;
    letter-spacing: 0.08em;
    color: #2f2f2f; 
}

/* Точки в начале строки */
.home-services td p {
    padding-left: 23px;
    position: relative;
}

.home-services td p::after {
    content: "";
    width: 5px;
    height: 5px;

    position: absolute;
    top: 8px;
    left: 8px;

    background-color: var(--border-black);
    border-radius: 50%;
}
