/* Самая первая секция */
.home-header {
    padding: 0 8px; /* Внешний отступ от краев экрана */
}

.home-header__content {
    width: 100%;
    padding: 80px 18px; /* Внутренний отступ от краев блока */
    align-items: center;
}


/* Навигация */
.home-header nav {
    width: min(1140px, 100%);
}


/* Заголовки */
.home-header__title {
    width: min(1140px, 100%);

    margin-top: clamp(20px, 8vw, 100px);
}

.home-header__title h1 {
    font-size: clamp(40px, 4.5vw, var(--h1));
    letter-spacing: 0.08em;
}

.home-header__title > h1 {
    text-align: center;
}

/* Вторая строка заголовка */
.home-header__title > div {
    justify-content: space-between;
    align-items: center;

    margin-top: 2%; /* Отступ 23px */
}

.home-header__title > div h1 {
    margin-left: 32px;
    margin-right: 27px;
}

/* Синий фон */
.home-header__title span {
    display: inline-block;
    position: relative;
    
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;

    z-index: var(--z-main);
}

.home-header__title span::before {
    content: "";
    width: 100%;
    height: 100%;

    padding: 0 clamp(4px, 8%, 20px); /* Шире на 20px с обеих сторон */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--z-under);

    border-radius: 40px;
    background: rgba(55, 187, 255, 0.6);
}

/* Стрелочка */
.home-header__title-arrow {
    height: 2px;
    position: relative;
    flex-grow: 1;
    
    background-color: var(--border-black);
}

.home-header__title-arrow::after {
    content: "";
    width: 10px;
    height: 10px;

    position: absolute;
    top: -5px;
    right: 0;

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

    border-right: 2px solid var(--border-black);
    border-bottom: 2px solid var(--border-black);
}


/* Подзаголовок */
.home-header__sub-title-wrapper {
    width: min(1140px, 100%);
    justify-content: flex-end;

    margin-top: clamp(40px, 10vw, 120px);
}

.home-header__sub-title {
    width: clamp(290px, 75vw, 920px);
}

.home-header__sub-title h2 {
    padding: 8px 0;

    font-size: clamp(16px, 2.5vw, var(--h2));
    letter-spacing: 0.08em;
    text-transform: uppercase;

    border-top: 1px solid var(--border-black);
    border-bottom: 1px solid var(--border-black);
}

/* Вторая строка короче и без верхнего border */
.home-header__sub-title h2:last-of-type {
    width: clamp(150px, 25vw, 277px);
    border-top: none;
}

.home-header__sub-title h2 span {
    color: var(--text-gray);
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
}


/* Блок с контактами */
.home-header__contacts {
    width: min(1140px, 100%);
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;

    margin-top: clamp(40px, 10vw, 78px);
}


/* Кнопка "Контакты" */
#home-header__contacts-link {
    width: clamp(320px, 32%, 360px);
    height: 64px;
    /* padding: 0 120px; */

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 40px;
    background-color: transparent;
    border: 2px solid var(--border-black);

    color: var(--text-black);
    font-size: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

/* Наведение на пк */
@media (hover: hover) {
    #home-header__contacts-link:hover,
    #home-header__contacts-link:focus {
        color: var(--text-white);
        background-color: black;
    }
}

/* Клик на телефоне */
@media (hover: none) {
    #home-header__contacts-link:active {
        color: var(--text-white);
        background-color: black;
    }
}


/* Текст "Подробнее о нас" */
#home-header__contacts-about-us {
    font-size: 20px;
    letter-spacing: 0.02em;

    border-bottom: 2px solid var(--border-black);
}