/* Секция с таблицей проектов */
.home-projects {
    width: min(1192px, 100%); /* 1140px + 26px + 26px */
    padding: 0 26px; /* Отступ от краев экрана */

    margin-top: clamp(80px, 12vw, 160px);
}

.home-projects h2 {
    font-size: clamp(20px, 2.5vw, var(--h2));
    font-weight: 500;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--text-gray);

    margin-top: 4px;
}

.home-projects h2 span {
    display: inline-block;
    position: relative;

    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    color: var(--text-black);

    z-index: var(--z-main);
}

.home-projects h2 span::before {
    content: "";
    width: 100%;
    height: 100%;

    padding: 6px clamp(6px, 6%, 10px);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--z-under);

    border-radius: 40px;
    background: rgba(55, 187, 255, 0.6);
}


/* Таблица */
.home-projects table {
    border-collapse: collapse;

    margin-top: 56px; /* 80px - 24px */
}

.home-projects thead th {
    color: var(--text-gray);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.08em;
}

.home-projects th,
.home-projects td {
    padding: 20px 0;
    border-bottom: 1px solid var(--border-black);
    text-align: start;
}

.home-projects td p {
    letter-spacing: 0.08em;
}


/* Точки в начале строки в последнем столбце */
.home-projects td:nth-child(3) p {
    padding-left: 23px;
    position: relative;
}

.home-projects td:nth-child(3) p::after {
    content: "";
    width: 5px;
    height: 5px;

    position: absolute;
    top: 8px;
    left: 8px;

    background-color: var(--border-black);
    border-radius: 50%;
}


/* Иконка напротив заголовка "НДА" */
#home-projects__container-nda-icon::after {
    content: "";
    width: 31px;
    height: 31px;
    position: absolute;
    top: 0;
    left: 210px;
    background-image: url("../../assets/icons/project-nda-lock.svg");
    background-size: contain;
}