html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bg-white);
}

body.no-scroll {
    overflow: hidden;
}


/* Главный контейнер страницы */
article {
    width: 100%;
    /* height: 100%; */

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto; /* Scroll обычный */
    overflow-x: hidden;
    /* -ms-overflow-style: -ms-autohiding-scrollbar; */

    /* scrollbar-gutter: stable; */
}

/* CSS for other than iOS devices */ 
@supports not (-webkit-touch-callout: none) {
    article {
        overflow-y: overlay; /* Scroll поверх */
    }
}

section {
    width: min(1344px, 100%); /* 1328px + 8px + 8px */

    margin: 0 auto;
}

/* Секция с серым фоном */
.section-grey {
    background-color: var(--bg-grey);
    border-radius: 40px;
}


.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}